<!DOCTYPE html>
<html>

<head>
  <title>FoodAholic</title>
  <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">

    <a class="navbar-brand" href="/">FoodAholic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'recipes' ? 'active' : '' %>">
          <a href="/recipes" class="nav-link home-login rounded-pill text-center">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if(!currentUser){ %>
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
          <a href="/login" class="nav-link home-login rounded-pill text-center">Login</a>
        </li>
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
          <a href="/register" class="nav-link bg-light text-dark rounded-pill text-center">Sign Up</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a href="#" class="nav-link">Signed In As
            <%= currentUser.username.charAt(0).toUpperCase() + currentUser.username.slice(1) %></a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

</body>