<!DOCTYPE html>
<html>

<head>
    <title>FoodAholic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>


<body>

    <div class="bannerText container">
        <h1>Welcome to FoodAholic</h1>
        <h4>The quickest way to a person's heart is through the stomach! FoodAholic is a food recipe sharing platform
            that connects people through stomach. I hope you are able to find the recipe to make your favorite food</h4>
        <div>
            <img src="https://vignette.wikia.nocookie.net/scratchpad/images/9/96/Nibblesfat.jpg/revision/latest?cb=20090816173104"
                alt="" width="200" height="200">
        </div>
        <a href="/recipes" class="btn btn-lg btn-danger d-block mt-3">View All Your Favorite Recipes</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include ("partials/footer") %>